.Libary {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow: scroll;
  text-align: center;
  visibility: visible;
  box-shadow: 2px 2px 50px rgb(131, 131, 131);
  transform: translateX(0%);
  transition: all 1s ease-in;
  opacity: 1;
  cursor: pointer;
  background-color: white;

  img {
    width: 20%;
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 1rem;
    }
  }
}

.Libary-hidden {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-x: visible;
  text-align: center;
  visibility: hidden;
  transform: translateX(-200%);
  transition: all 1s ease-in-out;
  opacity: 0;
  background-color: white;

  img {
    width: 20%;
    margin-bottom: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 1rem;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: grey;
}

*::-webkit-scrollbar {
  width: 5px;
  color: grey;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 0.274);
  border-radius: 20px;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .Libary-hidden {
    
  }
}
