header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;

  button {
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.3s ease-in;
    border-radius: 0.5rem;

    &:hover {
      background: rgb(0, 0, 0);
      color: white;
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

    h1 {
      font-size: 1.5rem;
    }

    button {
      white-space: nowrap;
      padding: 0.3rem;
      z-index: 10;
    }
  }
}
